* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/*navbar*/

.navbar {
    display: flex;
    background-color: #2a3235;
    color: white;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
}

.nav-links {
    display: flex;
}

li {
    margin-right: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

#btn-logout {
    background-color: #6EC1E4;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    margin: 0 20px 0 0;
    border-radius: 5px;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

a:hover, #btn-logout:hover, .edit:hover {
    opacity: 0.8;
}

.usuario, .social {
    margin: 20px;
}

.usuario {
    max-width: 600px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
}

.card-color {
    width: 100%;
    height: 100px;
    background-color: #6EC1E4;
    border-radius: 10px 10px 0 0;
}

.card img {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: 10%;
}

.card-title {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.877);
    margin: -50px 0 20px 50px;
}

.card-body {
    margin: 0 50px 20px 50px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: 200;
}

.card-body p {
    line-height: 1.5;
}

.edit {
    padding: 10px;
    border: none;
    margin: 0 0 30px 40px;
    color: #098fc9;
    cursor: pointer;
}

.educacion {
    width: 100%;
    margin: 30px 0;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
}

/*Columna derecha*/

.social {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.solicitudes, .conexiones {
    margin-bottom: 50px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.educacion h2, .solicitudes h2, .conexiones h2 {
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.76);
}

.solis {
    width: 50px;
    border: 3px solid #6EC1E4;
    border-radius: 5px;
}

.solicitudes p{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.persona {
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.simbolos, .simbolos2 {
    display: inline-flex;
}

.simbolos i {
    margin-right: 10px;
    margin-left: 25px;
}

.simbolos2 i {
    margin-right: 35px;
}

.friends {
    width: 75px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.603);
    margin-right: 10px;
}

.friend{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}